Hi, this is the user's index

<%= form_for(@stream,{url:streams_path}) do |f|%>

<div class="field">
  <%= f.file_field :image %>
  <%= f.submit "Submit your image" %>
</div>
<% end %>

<% if current_user != nil %>
		<% @users.each do |u| %>
			<div class="user_box"><h1><%= u.email %></h1>
				<%# u.streams.each do |p| %>
					<%#= image_tag p.image.url(:square) %><br />
				<%# end %>
			</div>
		<% end %>
	<% end %>