<%= form_for @stream do |f| %>
		
		<%=f.text_field :name, :class => "form-control", :placeholder => "Name"%><br>
		<%=f.text_field :description, :class => "form-control", :placeholder => "Description"%><br>
		<div class="uploadContainer">
<form action="" method="post" enctype="multipart/form-data">
    <div class="upload">
        <input type="file" id="imgLoader" />

    </div>
</form>
</div>

 
<table id="streamsTable" class="container">
  <tbody >
 
<!-- Canvases will go here in DOM -->


  </tbody>
</table>
			
		
	

		<%= f.submit "Submit Stream"%>

<% end %>